/*body{
	background-image:"hd-wallpaper-landscape-long-exposure-68147.jpg";
}*/
li{
	display: inline-block;
	font-size: 40px;
}
h1{
	color: red;
	text-align: center;
	border:3px dashed purple; 
}
section{
	color: purple;
	font-family: 'Hanalei Fill', cursive; 
	font-style: italic;
	font-weight: bold;
}
img{
	width: 350px;
	height: 350px;
	margin: 10px;
	transition: all 1s;

}
img:hover{
	transform: scale(1.1);
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}